<p>Go to your Facebook Group.  The URL should contain a long string of numbers</p>
<%= image_tag "facebook_url.png", class: 'help' %></p>
<p>The number, 761662830593159, is the Group ID..  Enter that in the NotifyMyClub "Add Contract" </p>
<%= image_tag 'contact_field.png', class: 'help' %>
