<p>Unfortunately, Facebook will not allow us to automatically post your message to a group.  Instead, you will need to type your message again, or cut and paste.  You can also add additional Groups, or Individuals with whom to share your message.</p>
<%= image_tag "fb_send_dialog.png", class: 'help' %></p>
