body  {
    width:1000px;
    background-color:#c4c4c4;
    background-image:url('/images/background1.png');
    background-repeat:repeat-x;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
}

div .resetLayout {
    clear:both;
}

.emphasis {
    font-family : 'Open Sans', sans-serif;
    font-weight : 700 ; 
    font-size : 1.2em ; 
}

.button {
    background-color: #0c93cb;
    width:170px;
    height:30px;
    padding:20px;
    font-size:1.4em;
    color: white;
    cursor:pointer;
    border-radius:5px;
}

h1, h2, h3 {
    color: #0c93cb;
    font-family: 'Open Sans', sans-serif;

}
h1 a {
    text-decoration:none;
    color: #0c93cb;
    font-family: 'Open Sans', sans-serif;

}

h4 {
    color: #0c93cb;
    padding-left:100px;
}

.banner {
    padding-left : 30px ;
    width:900px;
clear:both;
}
.title {
    float : left ; 
    width:300px;
}
.logo {
    float : left ; 
    width:100px;

}
.signupLinks {
    float : left ; 
    margin-left: 130px;
    width : 260px;

}
#menu { 
list-style: none; 
margin: 0px 0 20px 0; 
padding: 0; 
float: left; 
width : 800px;

}
#menu li { 
margin: 0 2px; 
padding: 0; 
float: left; 
}
#menu li a { 
display: block; 
padding: 4px 8px; 
text-decoration: none; 
border: solid 1px black; 
color: black; 
background-color: #0c93cb; 
border-radius:5px;
}
#menu li a:hover { color: white; 
background-color: #0c93cb; }

.outerDiv {
    margin:30px;
    padding:20px;

    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffd372;
    background-image:url('/images/background2.png');
    background-repeat:repeat-x;
    border-radius:20px;
    clear:both;
}
.bubble {
    width:100px;

}
.fullCol {
    float : left ; 
    width:800px;

    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffe;
    border-radius:20px;

}
.col1 {
    float : left ; 
    width:220px;
    height:300px;
    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffe;
    border-radius:20px;

}

.col2 {
    float : left ; 
    width:220px;
    height:300px;
    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffe;
    border-radius:20px;

}

.col3 {
    float : left ; 
    width:220px;
    height:300px;
    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffe;
    border-radius:20px;

}

.footerMenu {
float:left ; 

}
.copyright {
float:right ; 
}

ul .footer {
    display: inline ;
    list-style: none;
}
ul li .footer{
    display: inline ;
    list-style: none;
}

a img {
    border: none;
}

a {
    color: #0000FF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

.error_messages {
    v  width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
}

.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

.error {
    color : red;
}

.error_messages p {
    margin: 8px 10px;
}

vv.error_messages ul {
    margin: 0;
}
