body  {
    width:1000px;
    background-color:white;
    background-image:url('/images/background1.png');

    background-repeat:repeat-x;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
}

.emphasis {
    font-family : 'Open Sans', sans-serif;
    font-weight : 700 ; 
    font-size : 1.2em ; 
}
.button {
background-color: #0c93cb;
 width:170px;
height:30px;
 padding:20px;
font-size:1.4em;
color: white;
 cursor:pointer;
    border-radius:5px;
}
h1, h2, h3 {
    color: #0c93cb;
font-family: 'Open Sans', sans-serif;

}

h4 {
    color: #0c93cb;
    padding-left:100px;
}
.banner {
    padding-left : 30px ;
    width:600px;
}
.outerDiv {
    margin:30px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:white;
    background-image:url('/images/background2.png');
#    background-color:#ffe;
    border-radius:20px;
    clear:both;
}
.bubble {
    width:100px;
    float:right;
}
.col1 {
    float : left ; 
    width:210px;
    height:250px;
    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffe;
    border-radius:20px;

}

.col2 {
    float : left ; 
    width:210px;
    height:250px;
    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffe;
    border-radius:20px;

}

.col3 {
    float : left ; 
    margin:15px;
    width:210px;
    height:250px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffe;
    border-radius:20px;

}

ul .footer {
    display: inline ;
    list-style: none;
}
ul li .footer{
    display: inline ;
    list-style: none;
}

a img {
    border: none;
}

a {
    color: #0000FF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

.error_messages {
    v  width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
}

.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

.error {
    color : red;
}

.error_messages p {
    margin: 8px 10px;
}

vv.error_messages ul {
    margin: 0;
}
