<% title "Edit Group" %>

<%= render 'form' %>

<div class="row-fluid">
  <div class="span5"><p>
  <%= link_to "Show", @group %>
  </div>
  <div class="span2">|
    </div>
 <div class="span5"> <%= link_to "View All", groups_path %>
</p>
</div>
</div>
