<% title "Groups" %>

<div class="resetLayout" >
  
  <div class="row-fluid">
    <div class="col-md-6">
      <table>
      <% for group in @groups %>
      <tr>
          <td><%= link_to group.name, group %></td>
	    <% if current_user && current_user.admin? %>
	  <td><%= group.user.email unless group.user.nil? %></td>
	  <td>

	    |<%= link_to "Edit", edit_group_path(group) %>
	    |<%= link_to "Destroy", group, :confirm => 'Are you sure?', :method => :delete %>
	    <% end %>
	  </td>

      </tr>
      <% end %>
      </table>
    </div>
  </div>




</div>
