<head><SCRIPT LANGUAGE="JavaScript">
<!__
function JumpToIt(frm) {
   var newPage = frm.url.options[frm.url.selectedIndex].value
   if (newPage != "None") {
       location.href=newPage
   }
}
//-->
</SCRIPT></head>
<p><span class="emphasis">Welcome!</span> to the fastest, simplest way ever to notify <span class="emphasis">everybody</span> in your organization, club or team of upcoming events, schedule changes, cancellations, etc...</p>
<p>Best of all, the application is free to your members.</p>

<div class="col1" align="center">
  <h1 align="center">Group Leaders</h1>
  <%= button_to "Start your group", new_user_registration_path, :class => "100_button", :method => :get %>

</div>
<div class="col2">
  <h1>Join Existing Group</h1>
<p>Start typing below to find your group.  Click on your group name to select it and proceed.</p>
<div id="remote">
  <input class="typeahead" type='text' id="groupsearch" icon="favicon.gif" placeholder="Group Name">
 <i class="fa favicon.gif"></i></input>
</div>
</div>
<div class="col3">
<a href="mailto:info@insomnia-consulting.org"><h1>Sponsoring</h1></a> <br>
<a href="mailto:info@insomnia-consulting.org"><h1>Advertising</h1></a><br>
<a href="mailto:info@insomnia-consulting.org"><h1>More Info</h1></a><br>
<a class="button icon" href="#"><span>Chat Now!</span></a>
</div>
