<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>


<script type="text/javascript" >
jQuery.noConflict();

jQuery(document).ready(function(){

    jQuery( "#sendEmail" ).click( function() {
window.location = '<%= sponsors_info_path %>' ; 
      }) ; 
  });


</script>

</head>
<body >

<% if !user_signed_in? %>
 <div class="col1">
   <h1>Leaders</h1>
   <p>Setup lists to communicate with your members.</p>
   <ul>
     <li>Time Changes</li>
     <li>Venue Changes</li>
     <li>Cancellations</li>
   </ul>
   <p>Set up sponsorship messages for your group.</p>
   <p>Used by teams, clubs, churches and schools.</p>
   </div>
    <div class="col2">
   <h1>Members</h1>
      <p>Make sure you stay notified.  Receive notifications via:</p>
      <ul>
	<li>SMS</li>
	<li>Email</li>
	<li>Phone</li>
      </ul>
      <p>Never miss an important event again!</p>
   </div>
    <div class="col3">
   <h1>Sponsors</h1>
      <p>Donate  funds to help your local club.</p>
      <p>Each SMS or Phone message costs 1&cent;. Give your local club funds and we'll advertise your sponsorship with every message.</p>
    <div id="sendEmail" class="button" >Sponsor Now</div>
    </div>


<% end %>
</body>
</html>
