<% title "Edit Group" %>

<%= render 'form' %>

<p>
<div class="row-fluid">
  <div class="span5">
  <%= link_to "Show", @contact %>
  </div>
  <div class="span2">
    |
    </div>
  <div class="span5">
  <%= link_to "View All", contacts_path %>
</p>
</div>
</div>
