<% title "Edit Group" %>

<%= render 'form' %>

<p>
<div class="row-fluid">
  <div class="span5">
  <%= show_contact_or_group "Show" %>
  </div>
  <div class="span2">
    |
  </div>
  <div class="span5">
  <%= link_to "| View All", group_contacts_path(@group) if @group %> 
</p>
</div>
</div>
