<% title "New Contact" %>
<% unless @group.nil? %>
  <p class="resetLayout">Add a contact to group: <%= @group.name %></p>
<% end %>
<%= render 'form' %>

<p><%= link_to "Back to List", group_path(@group) if current_user && current_user.groups.include?(@group)%></p>
