<p>Just submit this form to register as a premium user</p>
<script src="https://www-sgw-opensocial.googleusercontent.com/gadgets/ifr?url=https%3A%2F%2Fstoregadgetwizard.appspot.com%2Fservlets%2FgadgetServlet%3Fkey%3D0AirEfvK6j1MydFV1NlN0QWk4TERDbkl3TjhDWkUwMlE%26mid%3D659798307354026%26currency%3DUSD%26sandbox%3Dtrue%26gadget%3DTINY&amp;container=storegadgetwizard&amp;w=215&amp;h=150&amp;title=&amp;brand=none&amp;output=js"></script>
<%= form_for @subscription do |f| %>
  <%= f.error_messages %>
  <p>
   <%= f.hidden_field :user_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
