<p>Just submit this form to register as a premium user</p>
<%= form_for @subscription do |f| %>
  <%= f.error_messages %>
  <p>
   <%= f.hidden_field :user_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
