<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Club Message</h1>
    <p>
      <%= @message.message %>
    </p>
  </body>
</html>
yes
