<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @message.group.name %></h1>
    <p>
      <%= @message.message %>
    </p>
    <p>
      <%= raw(@sponsorMsg) %>
    </p>
    <p>
      <%= link_to "No longer receive these messages.",  contact_opt_out_url(@contact) %> 
    </p>
  </body>
</html>

