.tt-query,
.tt-hint {
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 100%;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999

}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);


}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
input[type='submit'] {
    float: center !important;
    background-color: #0c93cb;
    font-size : 1.4em;
    font-weight: bold;
    color:#fed271;
    border-radius:3px;
    border-color: #FED271;
    border-style: solid;
    font-family: Verdana,Helvetica,Arial
    background-image: url(/images/favicon.gif);

}
input[type='text'] {

    width:100%;
}

body  {
    width:1000px;
    background-color:#c4c4c4;
    background-image:url('/assets/background1.png');
    background-repeat:repeat-x;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
}

div .resetLayout {
    clear:both;
}

.emphasis {
    font-family : 'Open Sans', sans-serif;
    font-weight : 700 ; 
    font-size : 1.2em ; 
    font-align : left ;
}

.100_button { 
    icon: url('/images/favicon.gif');
    text-align: center;
    float:center !important;
    background-color: #0c93cb;
    width: 100%;
    padding:20px;
    font-size:1.4em;
    color:#fed271;
    cursor:pointer;
    border-radius:8px;
    border-color: #FED271;
    border-style: solid;
    font-weight: bold;
    vertical-align: bottom;
}

.buttonBG {
    background-color: #0c93cb;
    height:70%;
    width:100%;
    border-radius: 8px;
}

.buttonB {
    font-family: Verdana,Helvetica,Arial;
    text-align: center;
    float:center;
    background-color: #0c93cb;
    min-height:70px;
    min-width:221px;
    width:100%;
    height:45%;
    padding:25px;
    float: center;
    font-size:1.4em;
    color:#fed271;
    background: url('/assets/favicon.gif');
    padding-right:16px;
    background-color:transparent;
    background-position:left;
    background-repeat:no-repeat;
    border-radius:8px;
    border-color: #FED271;
    border-style: solid;
    font-weight: bold;
    vertical-align: bottom;
}    

.button {
    font-family: Verdana,Helvetica,Arial;
    text-align: center;
    float:center;
    background-color: #0c93cb;
    height:70px;
    padding:20px;
    font-size:1.4em;
    color:#fed271;
    cursor:pointer;
    border-radius:8px;
    border-color: #FED271;
    border-style: solid;
    font-weight: bold;
    vertical-align: bottom;
    background-image: url(/images/favicon.ico);
    background-repeat: no-repeat:
    background-position: left;
    padding-left: 16px;
}

.next { 
    font-family: Verdana,Helvetica,Arial;    
    float: right;
    background-color: #0c93cb;
    width:60px;
    height:15px;
    padding:3px;
    font-size:1.2em;
    color:#fed271;    cursor:pointer;
    border-radius:3px;
    border-color: #FED271;
    border-style: solid;
    font-weight: bold;
    text-align: center;
    background-image: url(/images/favicon.ico);
}
.prev {
    font-family: Verdana,Helvetica,Arial;
    float: left;
    background-color: #0c93cb;
    width:60px;
    height:15px;
    padding:3px;
    font-size:1.2em;
    color:#fed271;
    cursor:pointer;
    border-radius:3px;
    border-color: #FED271;
    border-style: solid;
    font-weight: bold;
    text-align: center;
    background-image: url(/images/favicon.ico);
}
h1, h2, h3 {
    color: #0c93cb;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    text-align: center;
}
h1 a {
    text-decoration:none;
    color: #0c93cb;
    font-family: 'Open Sans', sans-serif;

}

h4 {
    color: #0c93cb;
    padding-left:100px;
}
li {
     font-family: Verdana,Helvetica,Arial;
    font-size:1.4em;
    color: #EED090;  
    float:left;
}

.banner {
    padding-left : 30px ;
    width:900px;
clear:both;
}
.title {
    float : left ; 
    width:300px;
}
.logo {
    float : left ; 
    width:100px;

}
.signupLinks {
    float : left ; 
    margin-left: 130px;
    width : 260px;

}
#menu { 
list-style: none; 
margin: 0px 0 20px 0; 
padding: 0; 
float: left; 
width : 800px;

}
#menu li { 
margin: 0 2px; 
padding: 0; 
float: left; 
}
#menu li a { 
display: block; 
padding: 4px 8px; 
text-decoration: none; 
border: solid 1px black; 
color: black; 
background-color: #0c93cb; 
border-radius:5px;
}
#menu li a:hover { color: white; 
background-color: #0c93cb; }

div.span12 {
    margin:30px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffd372;
    background-image:url('/assets/background2.png');
    background-repeat:repeat-x;
    border-radius:20px;
    clear:both;
}
.bubble {
    width:100px;

}
.fullCol {
    float : left ; 
    width:800px;
    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:auto;
    background-color:#ffe;
    border-radius:20px;

}
.col1 {
    float : left ;
    max-width:220px;
    max-height:300px;
    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:hidden;
    background-color:#ffe;
    border-radius:20px;
    font-family: Verdana,Helvetica,Arial;
}

.col2 {
    float : left ; 
    max-width:220px;
    max-height:300px;
    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:hidden  ;
    background-color:#ffe;
    border-radius:20px;
    font-family: Verdana,Helvetica,Arial;

}

.col3 {
    float : left ; 
    max-width:220px;
    max-height:300px;
    margin:15px;
    padding:20px;
    border: 2px solid #ccc;
    overflow:hidden;
    background-color:#ffe;
    border-radius:20px;
    font-family: Verdana,Helvetica,Arial;
    text-align: left !important;
}

.dropdown {
   max-width:220px;
   float: left;

}

.footerMenu {
float:left ; 

}
.copyright {
float:right ; 
}

ul .footer {
    display: inline ;
    list-style: none;
}
ul li .footer{
    display: inline ;
    list-style: none;
}

a img {
    border: none;
}

a {
    color: #0000FF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}
ul li{
  display: inline;
  margin: 5px;
  padding: 5px;
  color: #0C93CB;
}
ul li span {
    color:  #F8D286;
    margin: 5px;
}


#steps {
list-style: none outside none;
width: 100%;
overflow: hidden;
margin: 2px;
padding: 3px;
background-image: url('/assets/background2.png');
border-style: solid;
border-color: #F8D286;
border-width: 3px;
color: #0c93cb;
}
#steps li.current {
    color:#F8D286;
    background-color: #0c93cb;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.9em;
    border-style: solid;
    border-color: #F8D286;
    border-width: 3px;
    
  }

#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

.error_messages {
    v  width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
}

.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

.error {
    color : red;
}

.error_messages p {
    margin: 8px 10px;
}

vv.error_messages ul {
    margin: 0;
}
